@import url(./Libs/animation.css);


*{

    max-width: 1840px;
    font-family: 'Roboto', sans-serif;
    animation: loader;
    animation-duration: 1500ms;

    
}

body{

    display: grid;
    grid-template-rows: 80px 620px 1100px 274px;
    grid-template-areas:"header" "img" "section" "footer"; 
}

/*------header-----*/
header{

    grid-area: header;
}
header >img{

    width: 400px;
    margin-left: 30%;
}

.fa-arrow-left{

    font-size: 70px;
    margin-left: 35px;
}

/*------image de fond-----*/

.img_fond > img{

    width: 86.5em;
    height: 42em;
}

/*------section-----*/

section{


    border: 9px solid #F6F6F6;
background: #F6F6F6;
border-radius: 6% 6% 0% 0%;
}


h1{

    font-size: 70px;
    font-family: Shrikhand,"cursive";
    font-style: italic;
    font: weight 800px;
    margin-left: 50px;
    margin-top: 50px;
}

.like{

    float: right;
    margin-right: 90px;
    font-size: 50px;
    margin-top: -110px;
    color: black;
}

/*-----------menu--------------*/


.menu{

    margin-left: 1%;
    margin-right: 1%;
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;

}
h2{

    border-bottom: 3px solid #99E2D0;
    width: 63px;
    animation: right_to_left_h2;
    animation-duration: 1300ms;

}

.btn_choise{

border: 3px solid  white;
width: 388px;
border-radius: 20px;
background: white;
padding-left: 20px;
box-shadow: 1px 6px 6px 2px rgba(5, 5, 5, 0.1);


}

.menu > .entrees{

    animation: right_to_left;
    animation-duration: 3000ms;

}

.btn_choise > span{

    float: right;
    margin-top: -30px;
    margin-right: 10px;
}

.block_btn_choise{

    display: flex;
    justify-content: space-between;
}

a{

    text-decoration: none;
    color: black;
}

.menu_block{

    display: flex;
}
/*----------FOOTER------*/


footer {


    background-color: #353535;
    color: white;
    padding-left: 25px;
    padding-top: 13px;


}


.footer>a {

    color: white;
    text-decoration: none !important;
}

.footer>img {

    filter: invert(100%)
}